body {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #8D8DAA;
    font-family: oswald;
}

nav.navbar {
    background-color: #F56D91 !important;
    font-size: 1rem;
}

a.navbar-brand {
    font-family: oswald, bold;
    font-size: 2.5rem;
    font-weight: 700;
}

header#hero-section {
    background-image: url(../img/mi-foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
header#hero-section h1.name {
    font-size: 3rem;
    font-weight: 800;
    font-family: oswald, regular;
    -webkit-text-stroke: 2px #8D8DAA;
    color: #ffff;
}
hr {
    color:#F56D91;
}
header#hero-section div {
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 700;
}

h1 {
    font-family: open sans;
    font-size: 3rem;
    font-weight: 800;
}

div.sobre-mi-texto {
    font-family: open sans;
    font-weight: 100;
    font-size: 0.75rem !important;
}

p {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
}

i {
    color: #F56D91;
    font-size: 8rem;
    border-radius: 50px;
}

.trabajos {
    background-color: #F56D91;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    color: #ffff;
}

img.img-trabajos {
    height: 15rem;
}

h2.contacto {
    font-size: 4rem;
    font-weight: 800;
}

hr.contacto {
    color: black;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}

button.ver-mas {
    background-color: #F56D91 !important;
    width: 8rem;
}

footer {
    background-color: #F56D91;
}

footer h1 {
    font-family: open sans;
    font-weight: 800;
    color: #ffff;
}

i.fab {
    font-size: 4rem;
    color: #ffff;
    margin-right: 1rem;
}